table {
    width: 70%;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

div {
    margin-bottom: 15px;
}

.blocked {
    background-color: rgb(224, 89, 134);
}

.active {
    background-color: rgb(71, 219, 96);
}

input[type="text"],[type="number"] {
    width: 80px;
}

.selected {
    background-color: rgb(135, 178, 228);
}