table {
    width: 70%;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

input[type="button"] {
    margin-right: 10px;
}

input[type="text"],[type="number"] {
    display: block;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
}

.card {
    margin-left: 20px;
    padding: 5px;
}

.invisible {
    display: none;
}

.selected {
    background-color: aqua;
}